site_name: Brain Dump
site_description: Knowledge base and project ideas
site_author: Georgi Grigorov

theme:
  name: material
  palette:
    primary: blue
    accent: blue
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.annotate

nav:
  - Home: index.md
  - CLI:
    - "1. ripgrep": cli/ripgrep.md
  - General:
    - "1. Snowflake ID": general/snowflake.md
  - Java:
    - "1. Java Knowledge": java/index.md
  - Kubernetes:
    - "1. Building Blocks": k8s/building-block.md
    - "2. Service": k8s/services.md
    - "3. ClusterIP vs LoadBalancer": k8s/clusterip-vs-loadbalancer.md
    - "4. Affinity and Node Taints": k8s/affinity-and-taints.md
    - "5. Topology Spread Constraints": k8s/topology-spread.md
  - Project Ideas:
    - "1. Toy Garbage Collector": project_ideas/gc.md
    - "2. Order Book": project_ideas/order-book.md

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - toc:
      permalink: true

plugins:
  - search
